.p-overlaypanel-content{
  padding: 0;
  div{ 
      cursor: pointer;
      padding-block: 1rem;
      padding-inline: 2rem;
  }
  div:hover{
      background-color: #f3f4f6;
     
  }
}
main {
  display: grid;
  grid-template-columns: 12% 87%;
  aside {
      height: 90vh;
      h4{
          padding-block: 20px;
          margin: 0;
          text-align: center;
          border: 1px solid #e5e7eb;
          border-bottom: none;
          border-top-left-radius: 6px ;
          border-top-right-radius: none;
      }
      .p-tieredmenu{
          height: 100%;
          width: 100%;
          border-top: none;
          border-top-right-radius:0;
          border-top-left-radius:0;
      }
  }
  nav {
      display: flex;
      border:1px solid #e5e7eb;
      border-left: none;
      justify-content: right;
      align-items: center;
      padding: 1rem 2rem;
      gap:1rem;
      .p-avatar{
          cursor: pointer;
      }
  }
  .principal {
      padding: 2rem 2rem 0 2rem;
      height: 100%;
        .negrita{
            font-weight: bold;
        }
        .fila{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-block: 1rem;
        }
      .dashboard{
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
      }
      .listado-incidencias{
        .incidencia-filtros-card{
            margin-bottom: 2rem;
            .incidencias-filtros{
                display: grid;
                grid-template-columns: repeat(auto-fill, 20%);
                gap: 0.7rem;
                .filtro{
                    display: flex;
                    flex-direction: column;
                    label{
                        margin-bottom: 0.4rem;
                    }
                    &.btn-buscar{
                        place-content: end;
                    }
                }
                
            }
        }
      }
  }
}


.frm-login{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border:1px groove gray;
  border-radius: 2rem;
  width: 30rem;
  margin: 10rem auto;
  height: 58vh;
  padding-inline: 3rem;
  justify-content: center;
  align-items: center;
  .p-button {
      width: 100%;
  }
  .negrita{
      font-weight: bold;
  }
  label {
      text-align: left;
  }
  .p-icon-field
  {
      width: 24rem;
      .p-inputtext{
          width: 100%;
      }
  }
}